body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(27deg, #34495e 50%, #2c3e50 50%);
    
}
.form-body{
    padding: 20px;
    width: 600px;
    min-width: 300px;
    border: solid 3px rgb(105, 103, 103);
    margin: 30px;
    background-color: #fff ;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.30);
    border-radius: 10px;
}

.text{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #2c3e50;
    margin-bottom: 20px;
    margin-top: 20px;
}

.form-body input{
    display: block;
    margin: auto;
    height: 40px;
    width: 75%;
    padding-left: 10px;
    color: black;
    border: 1px solid black;
    border-radius: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: transparent;
    font-size: 14px;
    outline: none;
}

.form-body input[type="password"]{
    margin-top: 20px;
}

::placeholder{
    color:gray;
}

.form-body button{
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 30px;
    height: 40px;
    width: 78%;
    background-color: #34495e;
    color: #fff;
    cursor: pointer;
    border-radius: 12px;
    font-size: 14px;
    border: none;   
    transition: 0.7s;
}

.form-body button:hover {
background-color: #2c3d4e;
}