/* Para el body */
body {
    font-family: Arial, sans-serif;
    background-color: #2f3e4e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Para el form */
form#myForm {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 800px;
    width: 100%;
}

/* Titulos de form */
form#myForm h2 {
    color: #2f3e4e;
    text-align: center;
    margin-bottom: 20px;
}

/* Labels de form */
form#myForm label {
    display: block;
    color: #333;
    margin-bottom: 5px;
}

/* Inputs de form */
form#myForm input[type="text"],
form#myForm input[type="submit"],
form#myForm input[type="reset"],
form#myForm input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Botones de form */
form#myForm input[type="submit"],
form#myForm input[type="reset"],
form#myForm button {
    width: calc(50% - 10px);
    background-color: #2f3e4e;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

form#myForm input[type="submit"]:hover,
form#myForm input[type="reset"]:hover,
form#myForm button:hover {
    background-color: #455a73;
}

/* Table styles */
form#myForm table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

form#myForm table, 
form#myForm table th, 
form#myForm table td {
    border: 1px solid #ccc;
}

form#myForm table th, 
form#myForm table td {
    padding: 10px;
    text-align: left;
}

form#myForm table th {
    background-color: #2f3e4e;
    color: #fff;
}

form#myForm table tr:nth-child(even) {
    background-color: #f9f9f9;
}

form#myForm table tr:hover {
    background-color: #f1f1f1;
}

/* Pagination styles */
form#myForm div {
    text-align: center;
}

form#myForm div input[type="submit"],
form#myForm div input[type="number"] {
    width: auto;
    margin: 5px;
    padding: 10px 15px;
}



form#myForm td button:hover {
    background-color: #455a73;
}

